/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; font-family: 'Neucha', cursive; }
body { margin: 0; }

body {
  background-image: url('./main-theme.jpg');
  background-size: cover;
  background-position: center;
}
